body {
  margin: 30px auto;
  max-width: 60%;
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
}

h1 {
  color: #DDA0DD;
  padding: 20px 0px 10px 0px;
}
h2 {
  color: #d7b6e3;
  padding: 20px 0px 10px 0px;
}
/* This changes color and removes default underline in links  */
a {
color: #DA70D6;
text-decoration: none;
}

/* Centers images */

img {
  display: block;
  margin: 0px auto;
  width: 100%;
}

h1 {
  border-bottom: 1px solid grey;
}
/* When you put a period in front of a CSS declaration, it indicates you are
creating a new class. We can apply this to div elements to create different
portfolio entries */

.vimeo-wrapper {
        max-width: 980px;
        position: relative;
        margin: 0 auto;
    }

    .vimeo-standard {
        float: left;
        height: 360px;
        width: 35%;
        margin: 10px;
    }

    iframe {
        width: 100%;
        height: 100%;
    }


    @media (max-width:767px) {

        .vimeo-standard {
            float: none;
            width: 80%;
            margin: 0 auto;
            padding-bottom: 10px;
        }
    }

    .clearfix:before,
    .clearfix:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    .clearfix:after {
        clear: both;
    }
